<div class="row information">
    <div class="col-md-3 information-avatar">
        <%= image_tag("#{@user.avatar_url}", alt: "avatar", class: "avatar rounded-circle img-fluid") if @user.avatar_url %>
    </div>

    <div class="col-md-9 information-main">
        <% if current_user.id == @user.id%>
            <div class="profile-edit">
                <%# <a class="edit-profile">Edit Profile</a> %>
                <%= link_to 'Edit Profile', edit_profile_path %>
            </div>
        <% else %>
            <% if current_user.followers.pluck(:follower_id).include? @user.id  %>
                <%= link_to 'UnFollow', follow_path(id: @user.id), method: :delete  %>
            <% else %>
                <%= link_to 'Follow', follows_path(follower_id: @user.id), method: :post  %>
            <% end %>
        <%end%>
        <div class="profile-name">
            <%= "#{@user.first_name} #{@user.last_name}" %>
        </div>
        <div class="profile-navigate">
            <ul>
                <li>
                    <%= link_to params.merge(sk: 'photos').permit(:sk,:id), class: @mode == 'photos' ? 'active' : '' do %>
                        <%= @photos_count%>
                        <%= content_tag :span, "PHOTOS"%>
                    <%end%>
                </li>

                <li>
                    <%= link_to params.merge(sk: 'albums').permit(:sk,:id), class: @mode == 'albums' ? 'active' : '' do %>
                        <%= @albums_count%>
                        <%= content_tag :span, "ALBUMS"%>
                    <%end%>
                </li>

                <li>
                    <%= link_to params.merge(sk: 'followings').permit(:sk,:id), class: @mode == 'followings' ? 'active' : '' do %>
                        <%= @followings_count%>
                        <%= content_tag :span, "FOLLOWINGS"%>
                    <%end%>
                </li>

                <li>
                    <%= link_to params.merge(sk: 'followers').permit(:sk,:id), class: @mode == 'followers' ? 'active' : '' do %>
                        <%= @followers_count%>
                        <%= content_tag :span, "FOLLOWERS"%>
                    <%end%>
            </ul>
        </div>
    </div>

</div>