<div class="profile col-md-8">
    <%= render partial: "information"%>

    <% if @mode == "photos"%>
            <div class="d-flex justify-content-end">
             <% if @user.id == current_user.id%>
                <%= link_to 'Add photo', new_photo_path, class: "btn btn-success add-photo-button" %>
            <%end%>
            </div>

        <div class="row profile-photos">
            <% @photo_list.each do |photo| %>
                <% if @user.followings.pluck(:following_id).include?(current_user.id) || @user.id == current_user.id || photo.privacy == "Public"%>
                    <div class="col-md-3 photos">
                        <div class="photo-image h-100">
                            <%= image_tag "#{photo.photo_url}", alt: "photo" %>

                            <% if photo.privacy == "Private"%>
                                <div class="circle-lock">
                                    <i class="fas fa-lock" class="img-fluid"></i>
                                </div>
                            <% end %>
                            <%= link_to "EDIT", edit_photo_path(photo.id) ,  class: "edit-photo-text" %>
                            
                        </div>
                        <div class="photo-title">
                            <p class="text-center">
                                <%= photo.title%>
                            </p>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% elsif @mode == "albums"%>
        <div class="d-flex justify-content-end">
            <% if @user.id == current_user.id%>
            <%= link_to 'Add album', new_album_path, class: "btn btn-success add-photo-button" %>
        <%end%>
        </div>

            <div class="row profile-albums">
                <% @album_list.each do |album| %>

                    <div class="col-md-3 albums">
                        <div class="photo-image col-md-12 pl-0">

                            <% album.photos_url.each do |photo| %>
                                <%= image_tag "#{photo}", alt: "photo", class: "img-fluid" %>
                            <% end %>


                            <% if album.privacy == "Private"%>
                                <div class="circle-lock">
                                    <i class="fas fa-lock" class="img-fluid"></i>
                                </div>
                            <% end %>

                            <div class="edit-photo-text">
                                EDIT
                            </div>
                            <div class="count-photo">
                                <span><%= album.photos_url.size %></span>
                                <span>PHOTOS</span>
                            </div>
                        </div>
                        <div class="photo-title">
                            <p class="text-center"><%= album.title %></p>
                        </div>
                    </div>
                <% end %>
            </div>


    <% elsif @mode == "followings"%>
        <div class="row profile-followings mt-5">
        <% @followings_list.each do |following| %>
            <div class="col-md-3 followings mt-5">
                <div class="card">
                    <%= image_tag "#{following.avatar_url}", class: "card-img-top rounded-circle", alt: "" %>
                    <div class="card-body">
                        <h5 class="card-title text-center"><%= following.first_name + " " + following.last_name  %></h5>
                        <div class="data row">
                            <div class="data-photo col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;"><%= following.photos.size%></span> <span style="color:#3C5999">PHOTOS</span>
                            </div>
                            <div class="data-albums col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;"><%= following.albums.size%></span> <span style="color:#3C5999">ALBUMS</span>
                            </div>
                        </div>
                    </div>
                    <% if current_user.id != following.id%>
                        <% if current_user.followers.pluck(:follower_id).include? following.id  %>
                            <%= link_to 'UnFollow', follow_path(id: following.id), method: :delete  %>
                        <% else %>
                            <%= link_to 'Follow', follows_path(follower_id: following.id), method: :post  %>
                        <% end %>
                    <% end %>
                </div>
            </div
        <% end %>

        </div>




    <% elsif @mode == "followers"%>
        <div class="row profile-followers mt-5">
            <% @followers_list.each do |follower| %>
                <div class="col-md-3 followings mt-5">
                    <div class="card">
                        <%= image_tag "#{follower.avatar_url}" , alt: "", class: "card-img-top rounded-circle" %>
                        <div class="card-body">
                            <h5 class="card-title text-center"><%= follower.first_name + " " + follower.last_name %></h5>
                            <div class="data row">
                                <div class="data-photo col-md-6 p-0 d-flex flex-column align-items-center">
                                    <span style="font-size: 24px; color: #3C5999; font-weight: bold;"><%= follower.photos.size%></span> <span style="color:#3C5999">PHOTOS</span>
                                </div>
                                <div class="data-albums col-md-6 p-0 d-flex flex-column align-items-center">
                                    <span style="font-size: 24px; color: #3C5999; font-weight: bold;"><%= follower.albums.size%></span> <span style="color:#3C5999">ALBUMS</span>
                                </div>
                            </div>
                        </div>
                        <%= link_to 'UnFollow', follow_path(id: follower.id), method: :delete  %>
                    </div>
                </div>
            <% end %>

        </div>
    <%end%>
</div>


<script>
        $('.profile-albums .albums .photo-image').each(function() {
        let $this = $(this)
        $this.children("img").each(function(index) {
            if (index > 5) return
            // console.log(`rotate(${index*20}deg)`)
            if (index == 0) {
                $(this).css('z-index','100')
            }
            if (index != 0)
                $(this).css('transform' ,`rotate(${index*3}deg)`)
            // console.log(this)
        })

    })
</script>


