<div class="profile col-md-8">
    <%= render partial: "information"%>

    <% if @mode == "photos"%>
            <div class="d-flex justify-content-end">
             <% if @user.id == current_user.id%>
                <%= link_to 'Add photo', new_photos_path, class: "btn btn-success add-photo-button" %>
            <%end%>
            </div>

        <div class="row profile-photos">
            <% @photo_list.each do |photo| %>
                <div class="col-md-3 photos">
                    <div class="photo-image h-100">
                        <%= image_tag "#{photo.photo_url}", alt: "photo" %>

                        <% if photo.privacy == "Private"%>
                            <div class="circle-lock">
                                <i class="fas fa-lock" class="img-fluid"></i>
                            </div>
                        <% end %>
                        <%= link_to "EDIT", edit_photos_path(:id => photo.id) ,  class: "edit-photo-text" %>
                        
                    </div>
                    <div class="photo-title">
                        <p class="text-center">
                            <%= photo.title%>
                        </p>
                    </div>
                </div>
            <% end %>
        </div>
    <% elsif @mode == "albums"%>
        <% if @user.id == current_user.id%>
            <button>Add album</button>
        <%end%>
        <div class="row profile-albums">
            <div class="col-md-3 albums">
                <div class="photo-image">
                    <div class="test position-relative" style="height: auto;">
                        <img src="../assets/photo.png" class="img-fluid" alt="photo">
                        <img src="../assets/photo.png" class="img-fluid" alt="photo">
                        <img src="../assets/photo.png" class="img-fluid" alt="photo">
                        <img src="../assets/photo.png" class="img-fluid" alt="photo">
                        <img src="../assets/photo.png" class="img-fluid" alt="photo">        
                    
                        <div class="circle-lock">
                            <i class="fas fa-lock" class="img-fluid"></i>
                        </div>
                        <div class="edit-photo">
                            EDIT
                        </div>
                    
                    </div>



                </div>
                <div class="photo-title">
                    <p class="text-center">Title goes here</p>
                </div>
            </div>




        </div>
    <% elsif @mode == "followings"%>
        <div class="row profile-followings mt-5">
            <div class="col-md-3 followings mt-5">
                <div class="card">
                    <img src="../assets/photo.png" alt="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title text-center">Khanh Vo</h5>
                        <div class="data row">
                            <div class="data-photo col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">22</span> <span style="color:#3C5999">PHOTOS</span>
                            </div>
                            <div class="data-albums col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">15</span> <span style="color:#3C5999">ALBUMS</span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="text-center" >Follow</a>
                </div>
            </div>

            <div class="col-md-3 followings mt-5">
                <div class="card">
                    <img src="../assets/photo.png" alt="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title text-center">Khanh Vo</h5>
                        <div class="data row">
                            <div class="data-photo col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">22</span> <span style="color:#3C5999">PHOTOS</span>
                            </div>
                            <div class="data-albums col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">15</span> <span style="color:#3C5999">ALBUMS</span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="text-center" >Follow</a>
                </div>
            </div>


            <div class="col-md-3 followings mt-5">
                <div class="card">
                    <img src="../assets/photo.png" alt="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title text-center">Khanh Vo</h5>
                        <div class="data row">
                            <div class="data-photo col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">22</span> <span style="color:#3C5999">PHOTOS</span>
                            </div>
                            <div class="data-albums col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">15</span> <span style="color:#3C5999">ALBUMS</span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="text-center" >Follow</a>
                </div>
            </div>

            <div class="col-md-3 followings mt-5">
                <div class="card">
                    <img src="../assets/photo.png" alt="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title text-center">Khanh Vo</h5>
                        <div class="data row">
                            <div class="data-photo col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">22</span> <span style="color:#3C5999">PHOTOS</span>
                            </div>
                            <div class="data-albums col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">15</span> <span style="color:#3C5999">ALBUMS</span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="text-center" >Follow</a>
                </div>
            </div>


            <div class="col-md-3 followings mt-5">
                <div class="card">
                    <img src="../assets/photo.png" alt="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title text-center">Khanh Vo</h5>
                        <div class="data row">
                            <div class="data-photo col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">22</span> <span style="color:#3C5999">PHOTOS</span>
                            </div>
                            <div class="data-albums col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">15</span> <span style="color:#3C5999">ALBUMS</span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="text-center" >Follow</a>
                </div>
            </div>


            <div class="col-md-3 followings mt-5">
                <div class="card">
                    <img src="../assets/photo.png" alt="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title text-center">Khanh Vo</h5>
                        <div class="data row">
                            <div class="data-photo col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">22</span> <span style="color:#3C5999">PHOTOS</span>
                            </div>
                            <div class="data-albums col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">15</span> <span style="color:#3C5999">ALBUMS</span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="text-center" >Follow</a>
                </div>
            </div>


            <div class="col-md-3 followings mt-5">
                <div class="card">
                    <img src="../assets/photo.png" alt="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title text-center">Khanh Vo</h5>
                        <div class="data row">
                            <div class="data-photo col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">22</span> <span style="color:#3C5999">PHOTOS</span>
                            </div>
                            <div class="data-albums col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">15</span> <span style="color:#3C5999">ALBUMS</span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="text-center" >Follow</a>
                </div>
            </div>


        </div>
    <% elsif @mode == "followers"%>
        <div class="row profile-followers mt-5">
            <div class="col-md-3 followings mt-5">
                <div class="card">
                    <img src="../assets/photo.png" alt="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title text-center">Khanh Vo</h5>
                        <div class="data row">
                            <div class="data-photo col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">22</span> <span style="color:#3C5999">PHOTOS</span>
                            </div>
                            <div class="data-albums col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">15</span> <span style="color:#3C5999">ALBUMS</span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="text-center" >Follow</a>
                </div>
            </div>

            <div class="col-md-3 followings mt-5">
                <div class="card">
                    <img src="../assets/photo.png" alt="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title text-center">Khanh Vo</h5>
                        <div class="data row">
                            <div class="data-photo col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">22</span> <span style="color:#3C5999">PHOTOS</span>
                            </div>
                            <div class="data-albums col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">15</span> <span style="color:#3C5999">ALBUMS</span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="text-center" >Follow</a>
                </div>
            </div>

            <div class="col-md-3 followings mt-5">
                <div class="card">
                    <img src="../assets/photo.png" alt="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title text-center">Khanh Vo</h5>
                        <div class="data row">
                            <div class="data-photo col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">22</span> <span style="color:#3C5999">PHOTOS</span>
                            </div>
                            <div class="data-albums col-md-6 p-0 d-flex flex-column align-items-center">
                                <span style="font-size: 24px; color: #3C5999; font-weight: bold;">15</span> <span style="color:#3C5999">ALBUMS</span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="text-center" >Follow</a>
                </div>
            </div>
        </div>
    <%end%>
</div>



