<div class="feeds col-md-8">
    <div class="row navigate-photo-album">
        <ul class="nav justify-content-center w-100">
            <li class="nav-item">
                <button class="button-photo nav-link active">PHOTO</>
            </li>
            <li class="nav-item">
                <button class="button-album nav-link">ALBUM</>
            </li>
        </ul>
    </div>

    <div class="wrapper-feeds-photo row mt-4">
        <% @photo_list.each do |photo| %>
            <div class="col-md-6 feed-photo">
                <div class="card">
                    <div class="row">
                        <div class="col photo-images">
                            <img src="/assets/photo.png" alt="">
                            <%= image_tag "#{photo[:photo].photo_url}" %>
                        </div>
                        <div class="col">
                            <div class="p-0 d-flex flex-column justify-content-around" style="min-height: 200px">
                                <div class="card-body p-2">
                                    <div class="card-info">
                                        <div class="card-info__avatar">
                                            <%= link_to do  %>
                                                <%= image_tag "#{photo[:avatar]}", class: "img-fluid avatar rounded-circle", alt: "avatar"  %>
                                            <% end %>
                                        </div>
                                        <div class="card-info__name">
                                            <a href="#"><%= photo[:first_name] + " " + photo[:last_name]  %></a>
                                        </div>
                                    </div>
                                    <div class="card-title">
                                        <h5><%= photo[:photo].title %></h5>
                                    </div>
                                    <div class="card-text">
                                        <p><%= photo[:photo].description %></p>
                                    </div>
                                </div>
                                <div class="card-footer__react__time p-2">
                                    <div class="like-count">
                                        <i class="fas fa-heart"></i>
                                        <p>123</p>
                                    </div>

                                    <div class="date-time">
                                        <p><%= photo[:photo].updated_at %></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        <% end %>


    </div>

</div>




<%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload' %>
