<header>
    <div class="header row">
        <div class="header__left col-md-2">
            <%= link_to "Fotobook",  home_path%>
        </div>
        <div class="header__middle col-md-8 p-0">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" placeholder="Search Photo/Album" name="search">
                </div>
            </form>
            
            <% unless current_user.nil?%>
                <div class="info">
                    <div class="info__avatar">
                        <a href="#">
                            <%= image_tag "#{@user.avatar_url.thumb.url}", alt: "", class:"img-fluid rounded-circle"%>
                        </a>
                    </div>
                    <div class="info__name">
                        <%# <a href="#">Khanh Vo</a> %>
                            <%= link_to "#{current_user.first_name} #{current_user.last_name}", profile_path(:id => current_user.id)%>
                    </div>
                </div>
            <%end%>         

        </div>
        <div class="header__right col-md-2">
        <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>  
        <% else %>
            <%= link_to('Login', new_user_session_path, method: :get) %>  
        <%end%>
        </div>
    </div>
</header>